
<odoo>

        <record id="ir_invoice_correlative" model="ir.actions.act_window">
            <field name="name">control number</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">ir.sequence</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[('code', '=','invoice.l10n_ve_control_number')]</field>
        </record>
        
        <menuitem 
        name="Control Number" 
        id="control_number_menu" 
        sequence="99"
        groups="base.group_no_one"
        parent="account.menu_finance_receivables"
        action="ir_invoice_correlative"
        />

</odoo>